body {
  font-family: sans-serif;
}

[data-select-overlay] {
  width: 180px;
  padding: 4px;
  background: #eee;
  border-radius: 8px;
  transition:
    opacity 0.1s cubic-bezier(0.215, 0.61, 0.355, 1),
    scale 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);

  // default closed styles placed only in &[data-state='closed'] has a bug
  // Angular seems to briefly render w/o any `data-state` before changing
  // to `closed` when not appended to the body. this means you will see
  // default state -> closed state -> open state. by making
  // default state == closed state, it simplifies to closed state -> open
  // state
  opacity: 0;
  scale: 0.9;

  &[data-state='open'] {
    opacity: 1;
    scale: 1;
  }

  &[data-align='start'][data-side='top'] {
    transform-origin: bottom left;
  }

  &[data-align='center'][data-side='top'] {
    transform-origin: bottom center;
  }

  &[data-align='end'][data-side='top'] {
    transform-origin: bottom right;
  }

  &[data-align='start'][data-side='bottom'] {
    transform-origin: top left;
  }

  &[data-align='center'][data-side='bottom'] {
    transform-origin: top center;
  }

  &[data-align='end'][data-side='bottom'] {
    transform-origin: top right;
  }
}

[data-select-placeholder] {
  color: #999;
}

[data-select-trigger] {
  height: 40px;
  border-radius: 8px;
  border: 2px solid #ddd;
  padding-inline: 12px;
  width: 150px;
  display: flex;
  align-items: center;
  gap: 8px;
}

[data-select-trigger-icon] {
  transition: rotate 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: auto;
  width: 24px;
  flex-shrink: 0;
}

[data-select-value] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

[data-select-item] {
  padding: 4px 8px;
  min-height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;

  &[data-focused='true'] {
    background-color: #d8d8d8;
  }

  &[data-selected='true']::after {
    content: '✓';
    margin-left: auto;
  }
}
