@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-base-hue: 250;

  font-family: 'Geist', sans-serif;
  background-color: $bg;
  color: $fg;
  color-scheme: light dark;
  accent-color: $primary;
}

*:focus-visible {
  outline: 2px auto $primary;
}

[data-select-overlay] {
  width: 180px;
  padding: 4px;
  background: $overlay-bg;
  border-radius: 8px;
  max-height: 300px;
  overflow: auto;
  box-shadow: 2px 3px 8px $shadow;
  transition:
    opacity 0.1s cubic-bezier(0.215, 0.61, 0.355, 1),
    scale 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);

  // default closed styles placed only in &[data-state='closed'] has a bug
  // Angular seems to briefly render w/o any `data-state` before changing
  // to `closed` when not appended to the body. this means you will see
  // default state -> closed state -> open state. by making
  // default state == closed state, it simplifies to closed state -> open
  // state
  opacity: 0;
  scale: 0.95;

  &[data-state='open'] {
    opacity: 1;
    scale: 1;
  }

  // &[data-state='closed'] {
  //   transition-duration: 10000s;
  // }

  &[data-align='start'][data-side='top'] {
    transform-origin: bottom left;
  }

  &[data-align='center'][data-side='top'] {
    transform-origin: bottom center;
  }

  &[data-align='end'][data-side='top'] {
    transform-origin: bottom right;
  }

  &[data-align='start'][data-side='bottom'] {
    transform-origin: top left;
  }

  &[data-align='center'][data-side='bottom'] {
    transform-origin: top center;
  }

  &[data-align='end'][data-side='bottom'] {
    transform-origin: top right;
  }
}

[data-select-placeholder] {
  color: $placeholder;
}

[data-select-trigger] {
  height: 40px;
  border-radius: 8px;
  border: 2px solid $border;
  background: $surface-bg;
  padding-inline: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  width: 100%;

  &:focus-visible {
    background: $focus-bg;
  }

  &[data-expanded='true']:focus-visible {
    outline: none;
    background: none;
  }

  &[data-disabled='true'] {
    cursor: default;
    background: $disabled-bg;
    color: $disabled-fg;
    border-color: $disabled-border;
  }
}

[data-select-trigger-icon] {
  transition: rotate 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: auto;
  width: 24px;
  flex-shrink: 0;
}

pm-select-value {
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

[data-select-value] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-select-item-group] {
  list-style: none;

  &:not(:first-child) [data-select-item-group-label] {
    padding-top: 16px;
  }
}

[data-select-item-group-label] {
  padding: 8px 12px;
  min-height: 36px;
  display: flex;
  align-items: center;
  color: color-mix(in oklch, $fg 50%, $overlay-bg);
  font-size: 0.875rem;
}

[data-select-item] {
  padding: 8px 12px;
  min-height: 36px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  color: color-mix(in oklch, $fg 80%, $overlay-bg);
  cursor: pointer;

  &[data-focused='true'] {
    background-color: color-mix(in oklch, $primary 10%, $overlay-bg);
  }

  &[data-selected='true'] {
    color: $primary;

    &::after {
      content: '✓';
      margin-left: auto;
    }
  }
}

[data-highlighter] {
  border: 2px solid var(--pm-highlighter-color);

  &::before {
    content: attr(data-highlighter-name);
    position: absolute;
    bottom: 100%;
    left: -2px;
    font-family: monospace;
    font-size: 0.75rem;
    background: var(--pm-highlighter-color);
    color: white;
    padding: 0.125rem;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

button {
  &.pm-primary {
    background: $primary;
    color: $bg;
    height: 40px;
    padding-inline: 12px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background: $primary-hover;
    }
  }
}
