@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-base-hue: 250;

  font-family: 'Geist', sans-serif;
  background-color: $bg;
  color: $fg;
  color-scheme: light dark;
  accent-color: $primary;
}

*:focus-visible {
  outline: 2px auto $primary;
}

[data-highlighter] {
  border: 2px solid var(--pm-highlighter-color);

  &::before {
    content: attr(data-highlighter-name);
    position: absolute;
    bottom: 100%;
    left: -2px;
    font-family: monospace;
    font-size: 0.75rem;
    background: var(--pm-highlighter-color);
    color: white;
    padding: 0.125rem;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

button {
  &.pm-primary {
    background: $primary;
    color: $bg;
    height: 40px;
    padding-inline: 12px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background: $primary-hover;
    }
  }
}
