body {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul,
ol,
p {
  margin: 0;
  padding: 0;
}
