@if (selectService.isOverlayMounted()) {
  <div
    #overlayElement
    data-select-overlay
    [attr.data-select-overlay-appended-to-body]="appendToBody()"
    [attr.data-state]="selectService.isOpen() ? 'open' : 'closed'"
    [attr.data-align]="align()"
    [attr.data-side]="positioning().computedSide"
    [style]="{
      '--pm-select-trigger-width': `${selectService.triggerRect()?.width}px`,
      left: positioning().left,
      top: positioning().top,
      position: positioning().position,
    }"
    [id]="selectService.overlayId"
    (mousedown)="$event.preventDefault()"
  >
    <ng-content />
  </div>
}
