::ng-deep {
  [data-select-overlay] {
    z-index: 1000;

    &[data-select-overlay-appended-to-body='false'] {
      position: absolute;
      top: 100%;
      left: 0;
    }

    &[data-select-overlay-appended-to-body='true'] {
      position: fixed;
    }
  }
  [data-select-list] {
    list-style: none;
  }
}
