<main>
  <div style="display: flex; flex-direction: column; gap: 10px">
    <fieldset>
      <legend>Align</legend>
      @for (option of alignOptions; track option) {
        <label>
          <input
            type="radio"
            name="align"
            [value]="option"
            [checked]="align() === option"
            (change)="align.set(option)"
          />
          {{ option }}
        </label>
      }
    </fieldset>

    <fieldset>
      <legend>Side</legend>
      @for (option of sideOptions; track option) {
        <label>
          <input
            type="radio"
            name="side"
            [value]="option"
            [checked]="side() === option"
            (change)="side.set(option)"
          />
          {{ option }}
        </label>
      }
    </fieldset>

    <fieldset>
      <legend>Trigger transform</legend>
      <label>
        <span>Translate X ({{ translateX() }}px)</span>
        <input
          type="range"
          min="-100"
          max="100"
          step="5"
          [value]="translateX()"
          (input)="translateX.set(+$any($event.target).value)"
        />
      </label>
      <label>
        <span>Translate Y ({{ translateY() }}px)</span>
        <input
          type="range"
          min="-100"
          max="100"
          step="5"
          [value]="translateY()"
          (input)="translateY.set(+$any($event.target).value)"
        />
      </label>
    </fieldset>

    <fieldset>
      <legend>Side offset</legend>
      <label>
        <span>Side offset ({{ sideOffset() }}px)</span>
        <input
          type="range"
          min="-50"
          max="50"
          step="5"
          [value]="sideOffset()"
          (input)="sideOffset.set(+$any($event.target).value)"
        />
      </label>
    </fieldset>

    <fieldset>
      <legend>Width</legend>
      <label>
        <input
          type="checkbox"
          [checked]="useTriggerWidth()"
          (change)="useTriggerWidth.set($any($event.target).checked)"
        />
        Use trigger width
      </label>
    </fieldset>
  </div>

  <div #bounds class="bounds">
    <pm-select [appendToBody]="true">
      <button pmSelectTrigger [style.transform]="triggerTransform()">
        <pm-select-value> Placeholder </pm-select-value>
        <svg
          pmSelectTriggerIcon
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
        >
          <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
          <path fill="currentColor" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6l-6 6z" />
        </svg>
      </button>
      <pm-select-overlay [align]="align()" [side]="side()" [sideOffset]="sideOffset()">
        @for (group of optionGroups; track group.name) {
          <ul pmSelectItemGroup>
            <li pmSelectItemGroupLabel>{{ group.name }}</li>
            @for (option of group.options; track option.value) {
              <li pmSelectItem [value]="option.value">{{ option.label }}</li>
            }
          </ul>
        }
        <ul pmSelectItemGroup>
          <li pmSelectItemGroupLabel>Rich HTML</li>
          <li pmSelectItem value="rich-bold"><b>Bold</b> item</li>
          <li pmSelectItem value="rich-italic"><i>Italic</i> item</li>
          <li pmSelectItem value="rich-classes">
            <span class="rich-row">
              <span class="rich-dot"></span>
              <span>With <b>classes</b></span>
            </span>
          </li>
          <li pmSelectItem value="rich-template">
            <ng-container *ngTemplateOutlet="template"></ng-container>
          </li>
          <li pmSelectItem value="rich-nested">
            <span>
              nested
              <b>elems <i>work!</i></b>
            </span>
          </li>
        </ul>
      </pm-select-overlay>
    </pm-select>
    <pm-select [appendToBody]="false">
      <button pmSelectTrigger [style.transform]="triggerTransform()">
        <pm-select-value> Placeholder </pm-select-value>
        <svg
          pmSelectTriggerIcon
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
        >
          <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
          <path fill="currentColor" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6l-6 6z" />
        </svg>
      </button>
      <pm-select-overlay [align]="align()" [side]="side()" [sideOffset]="sideOffset()">
        @for (group of optionGroups; track group.name) {
          <ul pmSelectItemGroup>
            <li pmSelectItemGroupLabel>{{ group.name }}</li>
            @for (option of group.options; track option.value) {
              <li pmSelectItem [value]="option.value">{{ option.label }}</li>
            }
          </ul>
        }
        <ul pmSelectItemGroup>
          <li pmSelectItemGroupLabel>Rich HTML</li>
          <li pmSelectItem value="rich-bold"><b>Bold</b> item</li>
          <li pmSelectItem value="rich-italic"><i>Italic</i> item</li>
          <li pmSelectItem value="rich-classes">
            <span class="rich-row">
              <span class="rich-dot"></span>
              <span>With <b>classes</b></span>
            </span>
          </li>
          <li pmSelectItem value="rich-template">
            <ng-container *ngTemplateOutlet="template"></ng-container>
          </li>
          <li pmSelectItem value="rich-nested">
            <span>
              nested
              <b>elems <i>work!</i></b>
            </span>
          </li>
        </ul>
      </pm-select-overlay>
    </pm-select>
  </div>
</main>

<ng-template #template> from ng-template </ng-template>
