<main>
  <div style="display: flex; flex-direction: column; gap: 10px">
    <fieldset>
      <legend>Align</legend>
      @for (option of alignOptions; track option) {
        <label>
          <input
            type="radio"
            name="align"
            [value]="option"
            [checked]="align() === option"
            (change)="align.set(option)"
          />
          {{ option }}
        </label>
      }
    </fieldset>

    <fieldset>
      <legend>Side</legend>
      @for (option of sideOptions; track option) {
        <label>
          <input
            type="radio"
            name="side"
            [value]="option"
            [checked]="side() === option"
            (change)="side.set(option)"
          />
          {{ option }}
        </label>
      }
    </fieldset>

    <fieldset>
      <legend>Trigger transform</legend>
      <label>
        <span>Translate X ({{ translateX() }}px)</span>
        <input
          type="range"
          min="-500"
          max="500"
          step="50"
          [value]="translateX()"
          (input)="translateX.set(+$any($event.target).value)"
        />
      </label>
      <label>
        <span>Translate Y ({{ translateY() }}px)</span>
        <input
          type="range"
          min="-500"
          max="500"
          step="50"
          [value]="translateY()"
          (input)="translateY.set(+$any($event.target).value)"
        />
      </label>
    </fieldset>
  </div>

  <div #bounds class="bounds">
    <pm-select [appendToBody]="true">
      <button pmSelectTrigger [style.transform]="triggerTransform()">
        <pm-select-value> Placeholder </pm-select-value>
        <svg
          pmSelectTriggerIcon
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
        >
          <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
          <path fill="currentColor" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6l-6 6z" />
        </svg>
      </button>
      <pm-select-overlay [boundingElement]="bounds" [align]="align()" [side]="side()">
        <pm-select-item value="option1">First</pm-select-item>
        <pm-select-item value="option2">Option 2</pm-select-item>
        <pm-select-item value="option3">The Third Option</pm-select-item>
      </pm-select-overlay>
    </pm-select>

    <pm-select [appendToBody]="false">
      <button pmSelectTrigger [style.transform]="triggerTransform()">
        <pm-select-value> Placeholder </pm-select-value>
        <svg
          pmSelectTriggerIcon
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
        >
          <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
          <path fill="currentColor" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6l-6 6z" />
        </svg>
      </button>
      <pm-select-overlay [boundingElement]="bounds" [align]="align()" [side]="side()">
        <pm-select-item value="option1"
          ><div class="container">
            <div class="ball"></div>
            First
          </div></pm-select-item
        >
        <pm-select-item value="option2">Option 2</pm-select-item>
        <pm-select-item value="option3">The Third Option</pm-select-item>
      </pm-select-overlay>
    </pm-select>
  </div>
</main>
